.BIENVENIDOS .DATOS {
    color: #816477;
    font-family: 'IM Fell DW Pica', serif;
    font-weight: bolder;
    font-size: medium;
    text-align: left;
    line-height: 40 px;
    letter-spacing: 5px;
}
